<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.20.136.40/tools/data/hallIos/20170329134921_272_321944/packTools_Release_InHouse.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://172.20.136.40/tools/data/hallIos/20170329134921_272_321944/120.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://172.20.136.40/tools/data/hallIos/20170329134921_272_321944/60.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.boyaa.anshan</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>微信</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
